extends layout

block content
  h1= title
  p Welcome to #{title}

  input(type="submit", onclick="WriteData()", value="Click here for the finest Note jokes") 
  p#displayData

  script(src="/javascripts/JSONXHRAPI.js")